:root {
  --light-theme-base: #FCF9F7;
  --lt-background: #d1c8e7;
  --lt-color: hsl(0, 0%, 9%);
  --lt-hover: hsl(0, 0%, 31%);

  --dark-theme: hsl(103, 22%, 25%);
}

/* GENERAL SETTINGS */
a { text-decoration: none } 
a:link { color: var(--lt-color) }
a:visited { color: var(--lt-color) }
a:hover { color: var(--lt-hover) }


/* LIGHT */
header {
  background-color: var(--light-theme-base);
  color: black;
}

.collection-list {
  & a:visited {  color: var(--lt-color)}
  & a:hover { color: black}
}

.wrapper-header-front { background-color: var(--lt-background) }
.collection-menu { background-color: var(--lt-background) }

/* DARK */

