@import url(./light.css);

/*****HEADER MESSAGES****/

header {
  background-color: var(--light-theme-base);
  color: var(--lt-color);
  position: relative;
}

.wrapper-messages-header {
  text-align: center;
  width: 100%;
  max-width: 550px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 1rem;
  line-height: 1;
  height: 50px;
  padding: 10px;
}

.message-text-header {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

.arrow {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 200;
  user-select: none;
  border-style: none;
  background-color: inherit;
}

.wrapper-header-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 clamp(0.5rem, 3vw, 1.2rem);
  margin: 1rem 0 0;
}


/***** BURGER BTN ******/

.wrapper-burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
}

.input-burger {
  background-color: inherit;
  border-style: none; 
}

.input-burger[data-open="true"] {

  .line1-burger {transform: rotate(45deg) translate(4px, 5px)}
  .line2-burger {opacity: 0}
  .line3-burger {transform: rotate(-45deg) translate(2px, -5px)}
}

.line-burger {
  width: 20px;
  height: 1px;
  background-color: var(--lt-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
}


/***** RIGHT HEADER *****/

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: clamp(0.5rem, 2vw, 1rem);
}

.item-icon {font-size: clamp(1.3rem, 4vw, 1.8rem)}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  position: relative
}

.icon-wrapper:hover {
  color: var(--lt-hover);
  cursor: pointer;
}

.icon-wrapper:hover .dark-mode-icon {color: var(--lt-hover)}
.account-link, .favorite-link, .item-text {display: none}

.dark-mode-icon, .light-mode-icon {
  background: inherit;
  border-style: none;
  color: var(--lt-color);
  cursor: pointer;
}



.phone-menu-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: var(--lt-background);
}

.phone-menu-wrapper::backdrop {
  background-color: rgb(27, 27, 27);
}


/* MENU DESKTOP */
.collection-menu {display: none}

.collection-list {
  width: 90%;
  max-width: 650px;
  display: flex;
  list-style-type: none;
  gap: 0.5rem;
  overflow-x: auto;
  margin: 0;
  padding: 6px;
  margin-left: 5%;
  
  & >.collection-item {
    text-wrap: nowrap;
    width: 100%;
    margin: 0.5rem 0 0.5rem 1rem;
    position: relative;
  }

  & > .collection-item:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 100%;
    left: 0;
    background-color: var(--lt-hover);
    transition: width 400ms ease-in-out;
  }

  .icon-wrapper:hover::before {width: 100%}
  & > .collection-item:hover::before { width: 100%}
  & a:visited {color: var(--lt-color)}
  & a:hover { color: var(--lt-color)}
}



/***** LOGO *****/
.logo-text {
  margin-inline: auto;
  font-size: clamp(1.2rem, 5vw, 1.6rem);
  letter-spacing: -1px;
  color: var(--lt-color);
}

.wrapper-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.logo {
  width: clamp(3rem, 9vw, 6rem);
  cursor: pointer;
}

