@import url('./dark.css'); 

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cookie', cursive;
}


@media screen and (min-width: 760px) {
  .wrapper-custom-prefer {
    grid-template-columns: repeat(4, 300px);
  }

  .icon-wrapper::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 100%;
    left: 0;
    background-color: var(--lt-hover);
    transition: width 400ms ease-in-out;
  }
  
  .icon-wrapper:hover::before {width: 100%;}
  .item-text {font-size: 13px}
  .wrapper-logo {margin-right: -70px}
  .icon-wrapper {align-items: center}
  .header-right {gap: 1.2rem}
  .account-link, .favorite-link, .item-text {display: block}


  .input-burger, .phone-menu-wrapper {
    display: none;
  }

  .wrapper-header-middle {
    width: 90%;
    margin-inline: auto;
  }

  .collection-menu {
    display: block;
  }

}

@media screen and (min-width: 960px) {

}


